# This rule is not used by the project manila-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants read-only access to manila.openstack.org resources.
# This role is intended for users who need visibility into these resources
# without permissions to modify them. It is ideal for monitoring purposes and limited-access viewing.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: manila-operator
    app.kubernetes.io/managed-by: kustomize
  name: manilashare-viewer-role
rules:
- apiGroups:
  - manila.openstack.org
  resources:
  - manilashares
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - manila.openstack.org
  resources:
  - manilashares/status
  verbs:
  - get
