# This rule is not used by the project manila-operator itself.
# It is provided to allow the cluster admin to help manage permissions for users.
#
# Grants full permissions ('*') over manila.openstack.org.
# This role is intended for users authorized to modify roles and bindings within the cluster,
# enabling them to delegate specific permissions to other users or groups as needed.

apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    app.kubernetes.io/name: manila-operator
    app.kubernetes.io/managed-by: kustomize
  name: manilascheduler-admin-role
rules:
- apiGroups:
  - manila.openstack.org
  resources:
  - manilaschedulers
  verbs:
  - '*'
- apiGroups:
  - manila.openstack.org
  resources:
  - manilaschedulers/status
  verbs:
  - get
